<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
    body, h1, h2, h3 {
        font-family: "Karma", sans-serif
    }

    .w3-bar-block .w3-bar-item {
        padding: 20px
    }
</style>
<title>About</title>
<p><a href="http://127.0.0.1:3000">&lt; Back</a></p>
<div>
    <div class="about">
        <h1 style="text-align: center;"><a href="http://127.0.0.1:3000">MOOVIEGO</a></h1>
    </div>
</div>
<!-- About Section -->
<div class="w3-container w3-padding-32 w3-center">
    <h2 style="text-align: center;">About Us</h2>
    <br/> <img style="display: block; margin-left: auto; margin-right: auto;"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2NaLcYdcfp-UAM19W90Np3sLrLJmTtq2TLyYv8_M3_cdLIO6L"
               alt="Cow" width="300" height="300"/>
    <div class="w3-padding-32">
        <h2 style="text-align: center;"><em>Dora, Nikhila, Xihao</em></h2>
        <p style="text-align: center;">A group of undergraduates with the passion to watch movies</p>
        <p style="text-align: center;">We designed this website to help poor uni students like us get access to free
            movies</p>
    </div>
</div>
<hr/>