<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

<style>
    body, h1, h2, h3 {
        font-family: "Karma", sans-serif
    }

    .w3-bar-block .w3-bar-item {
        padding: 20px
    }
</style>
<p>&nbsp;</p>
<div>
    <div class="homepage">
        <title>MooVieGo</title>
        <h1 style="text-align: center;"><a href="http://127.0.0.1:3000">MOOVIEGO</a></h1>
    </div>
</div>
<div>
    <p style="text-align: center;">&nbsp;</p>
</div>
<div>
    <form action="http://127.0.0.1:3000/search" method="GET">
        <p style="text-align: center;"><input name="term" type="text"/></p>
        <p style="text-align: center;"><input type="submit" value="Search!"/></p>
    </form>
</div>
<div>
    <div class="topnav" style="text-align: center;"><a href="http://127.0.0.1:3000/about">About Us</a></div>
</div>
<div>
    <div style="padding-left: 16px;">&nbsp;</div>
</div>