<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
    body, h1, h2, h3 {
        font-family: "Karma", sans-serif
    }

    .w3-bar-block .w3-bar-item {
        padding: 20px
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Invalid</title>
</head>
<p><a href="http://127.0.0.1:3000">&lt; Back</a></p>
<body>
    <h1 style="text-align: center;"><a href="http://127.0.0.1:3000">MOOVIEGO</a></h1>
    <p style="text-align: center;">&nbsp;</p>
<h1 style='text-align: center;'>Invalid search term!</h1>
</body>
</html>